<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

</head>

<body>
    <!-- HEADER -->
    <section class="header center">
        <a href="../index.html" class="header_logo logo">
            <img src="../img/Logo.svg" alt="logo__img" class="logo__img">
            <h3 class="logo__text">Interno</h3>
        </a>
        <section class="header__menubar">
            <a href="../index.html">Home</a>
            <article class="header__menubar__project">Project</article>
            <a href="#">Blog</a>
        </section>
    </section>

    <!-- BANNER -->
    <section class="banner">
        <div class="banner__background" style="background-image: url('../img/blog-banner.png');"></div>

        <div class="banner__intro">
            <nav class="breadcrumb">
                <h1 class="page-title">Articles & News</h1>
                <ul class="breadcrumb_links">
                    <li class="decorator"><a href="../index.html" class="link">Home</a></li>
                    <li class="decorator"><a href="#" class="link">Blog</a></li>
                </ul>
            </nav>
        </div>
    </section>

    <!-- BLOG -->
    <!-- сюда подключаем VUE -->
    <section class="blog center" id="app">

        <div class="blog__latest-post">
            <h2 class="block-title">Latest Post</h2>
            <div class="blog__latest-post__box">
                <!-- проверяем что есть что отображать -->
                <div v-if="articles.length > 0" class="blog__latest-post__box__content">
                    <div class="blog__latest-post__box__content__image-box">
                        <img :src="articles[0].imgLink" :alt="articles[0].title"
                            class="blog__latest-post__box__content__image-box__img" />
                    </div>
                    <div class="blog__latest-post__box__content__subcontent">
                        <div class="text-box">
                            <h2 class="blog__latest-post__box__content__subcontent__title">{{ articles[0].title }}</h2>
                            <p class="text-box__brief" v-for="paragraph in getParagraphs(articles[0].content)">{{
                                paragraph }}</p>
                        </div>
                        <div class="blog__latest-post__box__content__subcontent__footer">
                            <p class="date">{{formatDate(articles[0].date )}}</p>
                            <button class="button-full-article">
                                <svg width="10" height="20" viewBox="0 0 10 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 19L9 10L1 1" stroke="#292F36" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="blog__news">
            <h2 class="block-title">Articles & News</h2>

            <template>
                <div v-for="row in rowCount" :key="row" class="blog__news__card-line">

                    <div v-for="cardIndex in cardCount" :key="cardIndex" class="blog__news__card-line__card news-card">

                        <div class="news-card__content">
                            <div class="news-card__content__image-box">
                                <img :src="articles[cardCount2(row, cardIndex)].imgLink"
                                    :alt="articles[cardCount2(row, cardIndex)].title"
                                    class="news-card__content__image-box__img" />
                                <div class="news-card__content__image-box__tag">{{ articles[cardCount2(row,
                                    cardIndex)].tag }}</div>
                            </div>
                            <div class="news-card__content__subcontent">
                                <div class="text-box">
                                    <h2 class="news-card__content__subcontent__title">{{ articles[cardCount2(row,
                                        cardIndex)].title }}</h2>
                                </div>
                                <div class="news-card__content__subcontent__footer">
                                    <p class="date">{{ formatDate(articles[cardCount2(row, cardIndex)].date )}}
                                    </p>
                                    <button class=" button-full-article">
                                        <svg width="10" height="20" viewBox="0 0 10 20" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1 19L9 10L1 1" stroke="#292F36" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </template>



        </div>


    </section>

    <script src="../articles.js"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                test: '025',
                rowCount: 2,        // количество строк
                cardsPerRow: 3,     // количество карточек в строке
                startIndex: 1,

                articles: articles,
            },

            methods: {
                getParagraphs: function (content) {
                    return content.split('\n\n'); // Разделение текста на параграфы по двойному переносу строки
                },

                clo(text) {
                    console.log(text);
                },

                // нужна библиотека которую внутри html не подключить. Пока это лучшее что я смог получить форматируя дату вручную
                formatDate(date) {
                    const year = date.getFullYear();
                    const month = date.getMonth();
                    const day = date.getDate();
                    const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
                    const monthName = months[month];

                    return `${day} ${monthName},${year}`;
                },

                // вычисляем индекс карточки
                cardCount2(row, indexInRow) {
                    let result = (row - 1) * this.cardsPerRow; // вычисляем сколько уже строк было обработано
                    result = result + indexInRow; // добавляем текущий индекс карточки и пропуск
                    return Number(result);
                },

            },

            computed: {
                cardCount() {
                    return Math.ceil(this.articles.length / this.cardsPerRow);
                },
                sortByDate() {
                    return this.articles.sort(function (a, b) {
                        return b.date - a.date;
                    });
                },
            },

        });
    </script>


</body>

</html>