* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

a {
  text-decoration: none;
}