@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost&family=Lato:wght@300;400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

a {
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo__img {
  width: 34px;
  height: 34px;
}
.logo__text {
  font-weight: 400;
  font-size: 40px;
  line-height: 125%;
  /* identical to box height, or 50px */
  color: #292F36;
}

.header {
  display: flex;
  justify-content: space-between;
}
.header__menubar {
  display: flex;
  gap: 50px;
  font-weight: 400;
  font-family: "Jost";
  font-size: 20px;
  line-height: 125%;
  /* identical to box height, or 25px */
  display: flex;
  align-items: center;
  text-align: center;
  color: #292F36;
}

.banner .banner__background {
  height: 351px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.blog {
  display: flex;
  gap: 52px;
}
.blog__details a:hover {
  cursor: pointer;
}
.blog__sidebar {
  min-width: 345px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.blog__sidebar__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.blog__sidebar__tags .tag-button {
  border: none;
  border-radius: 10px;
  padding: 9px 30px;
  background-color: #F4F0EC;
}
.blog__sidebar__tags .selected {
  background-color: black;
  color: #FFFFFF;
}