@import '../styles/fonts.scss';
@import '../styles/default.scss';
@import '../styles/logo.scss';

@import '../styles/header.scss';

.banner {

    .banner__background {
        height: 351px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

}

.blog {
    display: flex;
    gap: 52px;

    &__details {
        a:hover {
            cursor: pointer;
        }
    }

    &__sidebar {
        min-width: 345px;
        display: flex;
        flex-direction: column;
        gap: 24px;

        &__tags {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            .tag-button {
                border: none;
                border-radius: 10px;

                padding: 9px 30px;

                background-color: #F4F0EC;
            }

            .selected {
                background-color: black;
                color: #FFFFFF;
            }
        }
    }
}